@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url(./countdown.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 90vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin-bottom: 0;
}
.countdown-container{
    display: flex;

}
.big-text{
    font-weight: 540;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}
.cd-el{
    text-align: center;
}
.cd-el span{
    font-size: 1.2rem;
}
